<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-xs-6">
    <h1>Category Form</h1>
    <form (ngSubmit)="onSubmit(); categoryForm.reset()" #categoryForm="ngForm">
      <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Category Name is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!categoryForm.form.valid">Add New Category</button>
      <button type="button" class="btn btn-default" (click)="update()">Update Category</button>
    </form>
  </div>

  <div class="col-xs-6">
    <h1>List of Category</h1>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let category of categories; let i = index">
        <span>
          <button type="button" class="btn btn-info" (click)="edit(category, i)">Edit </button>
          <button type="button" class="btn btn-danger" (click)="delete(category)">Delete </button>
        </span> {{category.id}} - {{category.name}}
      </li>
    </ul>
  </div>
</div>